‚≠ê

In [2]:
import numpy as np
import pandas as pd
import re

In [3]:
importing = open('data/day-3.txt', 'r').read()

muls_and_idx = []

# Regex pattern
pattern = r"mul\(\d+,\d+\)"

# Find matches with their indices
matches = [(match.group(), match.start(), match.end()) for match in re.finditer(pattern, importing)]
muls = []

# Print results
for match_text, start_idx, end_idx in matches:
    muls_and_idx.append((match_text, start_idx))
    muls.append(match_text)

muls

['mul(445,324)',
 'mul(430,603)',
 'mul(991,973)',
 'mul(320,361)',
 'mul(39,679)',
 'mul(73,323)',
 'mul(133,891)',
 'mul(996,200)',
 'mul(668,190)',
 'mul(537,572)',
 'mul(455,630)',
 'mul(77,345)',
 'mul(759,479)',
 'mul(112,700)',
 'mul(11,880)',
 'mul(653,180)',
 'mul(343,172)',
 'mul(121,364)',
 'mul(905,512)',
 'mul(253,82)',
 'mul(173,725)',
 'mul(948,412)',
 'mul(688,386)',
 'mul(798,885)',
 'mul(139,466)',
 'mul(337,913)',
 'mul(299,848)',
 'mul(404,810)',
 'mul(562,587)',
 'mul(930,204)',
 'mul(671,431)',
 'mul(467,198)',
 'mul(648,804)',
 'mul(433,801)',
 'mul(294,95)',
 'mul(394,740)',
 'mul(627,328)',
 'mul(726,536)',
 'mul(665,531)',
 'mul(651,419)',
 'mul(251,901)',
 'mul(917,673)',
 'mul(139,942)',
 'mul(100,802)',
 'mul(675,411)',
 'mul(858,719)',
 'mul(873,971)',
 'mul(78,89)',
 'mul(308,52)',
 'mul(959,448)',
 'mul(379,76)',
 'mul(575,884)',
 'mul(829,831)',
 'mul(686,468)',
 'mul(886,603)',
 'mul(171,272)',
 'mul(766,411)',
 'mul(763,590)',
 'mul(486,962)',
 'mul(572,266)',
 'mul(15,796)',
 'mul(147,232)',
 'mul(267,231)',
 'mul(859,800)',
 'mul(291,826)',
 'mul(512,787)',
 'mul(767,135)',
 'mul(727,699)',
 'mul(566,179)',
 'mul(193,546)',
 'mul(705,766)',
 'mul(247,653)',
 'mul(828,136)',
 'mul(258,842)',
 'mul(517,650)',
 'mul(215,28)',
 'mul(810,676)',
 'mul(632,298)',
 'mul(823,219)',
 'mul(400,833)',
 'mul(216,848)',
 'mul(725,486)',
 'mul(564,772)',
 'mul(819,487)',
 'mul(732,511)',
 'mul(650,977)',
 'mul(81,106)',
 'mul(909,962)',
 'mul(452,162)',
 'mul(468,658)',
 'mul(8,295)',
 'mul(697,476)',
 'mul(755,649)',
 'mul(298,890)',
 'mul(131,588)',
 'mul(331,224)',
 'mul(918,263)',
 'mul(374,998)',
 'mul(182,130)',
 'mul(623,620)',
 'mul(153,641)',
 'mul(663,15)',
 'mul(90,830)',
 'mul(773,414)',
 'mul(94,697)',
 'mul(373,912)',
 'mul(684,83)',
 'mul(89,657)',
 'mul(385,928)',
 'mul(757,734)',
 'mul(517,244)',
 'mul(232,10)',
 'mul(880,285)',
 'mul(310,297)',
 'mul(999,433)',
 'mul(937,169)',
 'mul(104,652)',
 'mul(963,537)',
 'mul(579,212)',
 'mul(531,515)',
 'mul(989,356)',
 'mul(142,281)',
 'mul(289,916)',
 'mul(551,55)',
 'mul(738,532)',
 'mul(547,99)',
 'mul(159,62)',
 'mul(34,665)',
 'mul(459,928)',
 'mul(407,795)',
 'mul(695,539)',
 'mul(359,852)',
 'mul(132,930)',
 'mul(729,877)',
 'mul(727,452)',
 'mul(390,950)',
 'mul(998,792)',
 'mul(583,453)',
 'mul(782,665)',
 'mul(688,251)',
 'mul(117,838)',
 'mul(313,301)',
 'mul(918,351)',
 'mul(493,941)',
 'mul(298,591)',
 'mul(91,464)',
 'mul(316,801)',
 'mul(253,555)',
 'mul(511,598)',
 'mul(947,949)',
 'mul(20,922)',
 'mul(193,147)',
 'mul(693,462)',
 'mul(942,134)',
 'mul(545,298)',
 'mul(932,859)',
 'mul(479,587)',
 'mul(992,583)',
 'mul(714,106)',
 'mul(505,757)',
 'mul(579,833)',
 'mul(158,893)',
 'mul(262,794)',
 'mul(856,695)',
 'mul(203,385)',
 'mul(409,500)',
 'mul(419,384)',
 'mul(23,108)',
 'mul(381,237)',
 'mul(249,569)',
 'mul(332,31)',
 'mul(760,792)',
 'mul(378,678)',
 'mul(146,764)',
 'mul(262,148)',
 'mul(121,174)',
 'mul(392,80)',
 'mul(209,306)',
 'mul(992,237)',
 'mul(670,900)',
 'mul(151,599)',
 'mul(544,71)',
 'mul(662,996)',
 'mul(609,652)',
 'mul(335,388)',
 'mul(213,850)',
 'mul(495,85)',
 'mul(391,227)',
 'mul(248,277)',
 'mul(488,770)',
 'mul(700,675)',
 'mul(97,173)',
 'mul(284,269)',
 'mul(490,718)',
 'mul(931,41)',
 'mul(148,888)',
 'mul(941,631)',
 'mul(528,570)',
 'mul(379,986)',
 'mul(942,395)',
 'mul(663,775)',
 'mul(584,62)',
 'mul(837,91)',
 'mul(160,825)',
 'mul(488,459)',
 'mul(466,879)',
 'mul(371,785)',
 'mul(884,509)',
 'mul(423,954)',
 'mul(548,650)',
 'mul(892,161)',
 'mul(54,246)',
 'mul(140,679)',
 'mul(193,36)',
 'mul(64,972)',
 'mul(152,414)',
 'mul(778,929)',
 'mul(549,697)',
 'mul(183,897)',
 'mul(428,989)',
 'mul(220,961)',
 'mul(943,870)',
 'mul(658,52)',
 'mul(474,140)',
 'mul(700,771)',
 'mul(933,512)',
 'mul(142,82)',
 'mul(324,299)',
 'mul(426,954)',
 'mul(535,943)',
 'mul(540,959)',
 'mul(623,558)',
 'mul(953,55)',
 'mul(233,892)',
 'mul(802,151)',
 'mul(29,512)',
 'mul(92,69)',
 'mul(778,72)',
 'mul(777,784)',
 'mul(834,445)',
 'mul(504,419)',
 'mul(760,788)',
 'mul(861,519)',
 'mul(654,701)',
 'mul(395,393)',
 'mul(22,564)',
 'mul(899,367)',
 'mul(881,948)',
 'mul(672,218)',
 'mul(156,654)',
 'mul(631,751)',
 'mul(519,756)',
 'mul(994,484)',
 'mul(208,160)',
 'mul(982,443)',
 'mul(235,731)',
 'mul(816,163)',
 'mul(200,800)',
 'mul(17,848)',
 'mul(837,649)',
 'mul(710,747)',
 'mul(43,339)',
 'mul(250,801)',
 'mul(177,503)',
 'mul(765,616)',
 'mul(695,46)',
 'mul(867,931)',
 'mul(69,230)',
 'mul(953,132)',
 'mul(981,205)',
 'mul(741,911)',
 'mul(194,445)',
 'mul(970,761)',
 'mul(722,592)',
 'mul(807,681)',
 'mul(118,771)',
 'mul(21,190)',
 'mul(490,199)',
 'mul(29,437)',
 'mul(437,931)',
 'mul(454,998)',
 'mul(752,709)',
 'mul(20,583)',
 'mul(770,783)',
 'mul(508,561)',
 'mul(937,711)',
 'mul(287,875)',
 'mul(642,627)',
 'mul(273,186)',
 'mul(513,893)',
 'mul(250,147)',
 'mul(944,800)',
 'mul(369,406)',
 'mul(17,672)',
 'mul(656,755)',
 'mul(109,548)',
 'mul(262,927)',
 'mul(92,518)',
 'mul(261,612)',
 'mul(724,456)',
 'mul(887,115)',
 'mul(732,96)',
 'mul(925,310)',
 'mul(81,716)',
 'mul(447,640)',
 'mul(653,686)',
 'mul(513,546)',
 'mul(133,831)',
 'mul(688,974)',
 'mul(130,103)',
 'mul(208,734)',
 'mul(600,588)',
 'mul(215,125)',
 'mul(335,926)',
 'mul(526,944)',
 'mul(357,677)',
 'mul(29,462)',
 'mul(990,235)',
 'mul(184,818)',
 'mul(890,576)',
 'mul(837,954)',
 'mul(238,270)',
 'mul(850,817)',
 'mul(399,231)',
 'mul(57,595)',
 'mul(20,581)',
 'mul(506,640)',
 'mul(238,389)',
 'mul(330,955)',
 'mul(766,471)',
 'mul(294,301)',
 'mul(4,456)',
 'mul(567,277)',
 'mul(291,92)',
 'mul(883,529)',
 'mul(153,229)',
 'mul(810,887)',
 'mul(151,714)',
 'mul(757,774)',
 'mul(837,12)',
 'mul(180,108)',
 'mul(790,366)',
 'mul(477,626)',
 'mul(970,250)',
 'mul(702,494)',
 'mul(365,357)',
 'mul(59,73)',
 'mul(150,669)',
 'mul(503,887)',
 'mul(770,232)',
 'mul(608,780)',
 'mul(814,784)',
 'mul(352,786)',
 'mul(207,994)',
 'mul(109,408)',
 'mul(814,457)',
 'mul(19,549)',
 'mul(917,930)',
 'mul(8,721)',
 'mul(509,815)',
 'mul(821,706)',
 'mul(952,474)',
 'mul(191,64)',
 'mul(945,156)',
 'mul(67,396)',
 'mul(676,86)',
 'mul(983,709)',
 'mul(302,19)',
 'mul(109,820)',
 'mul(775,689)',
 'mul(123,536)',
 'mul(877,757)',
 'mul(20,417)',
 'mul(916,436)',
 'mul(195,454)',
 'mul(119,155)',
 'mul(840,203)',
 'mul(307,495)',
 'mul(26,644)',
 'mul(714,614)',
 'mul(325,872)',
 'mul(394,222)',
 'mul(400,422)',
 'mul(851,835)',
 'mul(910,493)',
 'mul(625,527)',
 'mul(479,758)',
 'mul(327,98)',
 'mul(554,259)',
 'mul(113,41)',
 'mul(285,496)',
 'mul(27,435)',
 'mul(918,36)',
 'mul(490,857)',
 'mul(428,611)',
 'mul(456,409)',
 'mul(733,862)',
 'mul(131,879)',
 'mul(734,484)',
 'mul(507,287)',
 'mul(295,272)',
 'mul(882,901)',
 'mul(789,365)',
 'mul(893,528)',
 'mul(53,733)',
 'mul(608,702)',
 'mul(43,408)',
 'mul(527,351)',
 'mul(902,966)',
 'mul(60,36)',
 'mul(95,237)',
 'mul(954,748)',
 'mul(898,313)',
 'mul(821,96)',
 'mul(200,701)',
 'mul(421,170)',
 'mul(718,787)',
 'mul(788,713)',
 'mul(603,956)',
 'mul(601,972)',
 'mul(103,342)',
 'mul(60,904)',
 'mul(761,131)',
 'mul(560,725)',
 'mul(387,817)',
 'mul(702,837)',
 'mul(461,199)',
 'mul(994,543)',
 'mul(442,181)',
 'mul(601,317)',
 'mul(909,275)',
 'mul(551,960)',
 'mul(507,289)',
 'mul(671,135)',
 'mul(121,912)',
 'mul(799,631)',
 'mul(784,458)',
 'mul(454,304)',
 'mul(94,667)',
 'mul(360,282)',
 'mul(528,823)',
 'mul(848,397)',
 'mul(261,776)',
 'mul(726,676)',
 'mul(729,810)',
 'mul(13,187)',
 'mul(587,161)',
 'mul(280,145)',
 'mul(436,283)',
 'mul(752,757)',
 'mul(352,322)',
 'mul(784,187)',
 'mul(989,116)',
 'mul(154,827)',
 'mul(445,633)',
 'mul(546,175)',
 'mul(522,402)',
 'mul(825,669)',
 'mul(157,376)',
 'mul(957,617)',
 'mul(668,157)',
 'mul(63,982)',
 'mul(254,522)',
 'mul(193,567)',
 'mul(775,751)',
 'mul(788,585)',
 'mul(475,307)',
 'mul(349,674)',
 'mul(227,383)',
 'mul(711,505)',
 'mul(43,231)',
 'mul(717,303)',
 'mul(760,51)',
 'mul(674,136)',
 'mul(140,636)',
 'mul(908,30)',
 'mul(154,688)',
 'mul(417,70)',
 'mul(354,115)',
 'mul(279,257)',
 'mul(292,504)',
 'mul(893,699)',
 'mul(753,807)',
 'mul(957,644)',
 'mul(53,811)',
 'mul(447,226)',
 'mul(774,984)',
 'mul(252,848)',
 'mul(895,641)',
 'mul(482,275)',
 'mul(645,131)',
 'mul(266,281)',
 'mul(446,962)',
 'mul(876,107)',
 'mul(187,697)',
 'mul(962,372)',
 'mul(276,649)',
 'mul(540,977)',
 'mul(753,655)',
 'mul(623,760)',
 'mul(26,86)',
 'mul(877,970)',
 'mul(527,726)',
 'mul(602,536)',
 'mul(926,882)',
 'mul(960,515)',
 'mul(597,249)',
 'mul(871,408)',
 'mul(178,932)',
 'mul(107,703)',
 'mul(345,156)',
 'mul(764,609)',
 'mul(35,321)',
 'mul(414,62)',
 'mul(399,237)',
 'mul(418,23)',
 'mul(618,231)',
 'mul(864,185)',
 'mul(730,572)',
 'mul(196,426)',
 'mul(51,66)',
 'mul(504,489)',
 'mul(979,151)',
 'mul(910,862)',
 'mul(58,405)',
 'mul(817,943)',
 'mul(277,652)',
 'mul(669,16)',
 'mul(727,589)',
 'mul(34,541)',
 'mul(906,174)',
 'mul(112,617)',
 'mul(203,659)',
 'mul(869,605)',
 'mul(140,620)',
 'mul(93,354)',
 'mul(542,872)',
 'mul(490,224)',
 'mul(563,138)',
 'mul(298,803)',
 'mul(914,40)',
 'mul(848,266)',
 'mul(436,708)',
 'mul(766,174)',
 'mul(587,419)',
 'mul(629,54)',
 'mul(523,43)',
 'mul(297,190)',
 'mul(441,676)',
 'mul(47,942)',
 'mul(4,166)',
 'mul(257,565)',
 'mul(446,402)',
 'mul(900,590)',
 'mul(137,486)',
 'mul(694,53)',
 'mul(631,877)',
 'mul(711,927)',
 'mul(66,129)',
 'mul(691,91)',
 'mul(791,897)',
 'mul(325,178)',
 'mul(105,565)',
 'mul(355,707)',
 'mul(27,653)',
 'mul(766,746)',
 'mul(364,566)',
 'mul(999,344)',
 'mul(672,593)',
 'mul(83,507)',
 'mul(373,176)',
 'mul(584,620)',
 'mul(103,225)',
 'mul(187,119)',
 'mul(874,888)',
 'mul(583,992)',
 'mul(68,200)',
 'mul(932,283)',
 'mul(189,932)',
 'mul(652,125)',
 'mul(501,335)',
 'mul(551,924)',
 'mul(118,951)',
 'mul(858,212)',
 'mul(746,402)',
 'mul(629,312)',
 'mul(680,3)',
 'mul(263,427)',
 'mul(698,847)',
 'mul(482,169)',
 'mul(546,79)',
 'mul(796,632)',
 'mul(749,226)',
 'mul(932,346)',
 'mul(722,627)',
 'mul(231,501)',
 'mul(694,751)',
 'mul(17,75)',
 'mul(413,505)',
 'mul(113,65)',
 'mul(83,722)',
 'mul(475,980)',
 'mul(588,832)',
 'mul(103,764)',
 'mul(583,487)',
 'mul(757,133)',
 'mul(47,54)',
 'mul(201,196)',
 'mul(494,817)',
 'mul(444,319)',
 'mul(316,303)',
 'mul(350,810)',
 'mul(557,674)',
 'mul(97,781)',
 'mul(473,488)',
 'mul(33,630)',
 'mul(571,144)',
 'mul(931,78)',
 'mul(200,845)',
 'mul(741,613)',
 'mul(54,465)',
 'mul(267,367)',
 'mul(409,900)',
 'mul(309,751)',
 'mul(165,206)',
 'mul(113,418)',
 'mul(272,138)',
 'mul(211,851)',
 'mul(916,846)',
 'mul(203,199)',
 'mul(40,428)',
 'mul(305,353)',
 'mul(904,794)',
 'mul(712,685)',
 'mul(909,11)',
 'mul(287,272)',
 'mul(397,337)',
 'mul(352,23)',
 'mul(804,392)',
 'mul(392,298)',
 'mul(572,89)',
 'mul(458,495)',
 'mul(375,386)',
 'mul(429,704)',
 'mul(442,21)',
 'mul(659,81)',
 'mul(934,729)',
 'mul(971,226)',
 'mul(465,736)',
 'mul(613,544)',
 'mul(906,152)',
 'mul(612,56)',
 'mul(247,423)',
 'mul(979,442)',
 'mul(319,494)',
 'mul(781,251)',
 'mul(27,381)',
 'mul(324,64)',
 'mul(938,422)',
 'mul(388,707)',
 'mul(98,712)',
 'mul(161,906)',
 'mul(198,30)',
 'mul(5,68)',
 'mul(829,126)',
 'mul(509,883)',
 'mul(142,939)',
 'mul(53,112)',
 'mul(523,469)',
 'mul(356,713)',
 'mul(309,932)',
 'mul(93,190)',
 'mul(202,888)',
 'mul(591,813)',
 'mul(652,199)']

In [3]:
dff = pd.DataFrame(muls_and_idx)

In [4]:
neww = []
integers = []

for i in range(len(muls)):
    n = muls[i].replace('mul','').replace('(','').replace(')','').replace(',', ' ')
    neww.append(n.split())
    integers.append((int(neww[i][0]), int(neww[i][1])))

df = pd.DataFrame(integers)
result_part_1 = np.sum(df[0]*df[1])

In [5]:
result_part_1

167650499

In [4]:
importing = open('data/day-3.txt', 'r').read()

pattern_does = r"\bdo\(\)|\bdon't\(\)"
matches_does = re.findall(pattern_does, importing)
matches_does

['do()',
 "don't()",
 "don't()",
 'do()',
 "don't()",
 'do()',
 'do()',
 'do()',
 "don't()",
 'do()',
 'do()',
 'do()',
 'do()',
 'do()',
 'do()',
 "don't()",
 'do()',
 'do()',
 'do()',
 'do()',
 "don't()",
 "don't()",
 'do()',
 'do()',
 'do()',
 'do()',
 'do()',
 "don't()",
 'do()',
 "don't()",
 "don't()",
 'do()',
 'do()',
 "don't()",
 'do()',
 'do()',
 "don't()",
 "don't()",
 'do()',
 'do()',
 'do()',
 'do()',
 "don't()",
 'do()',
 'do()',
 'do()',
 'do()',
 "don't()",
 "don't()",
 'do()',
 "don't()",
 'do()',
 'do()',
 "don't()",
 'do()',
 "don't()",
 'do()',
 "don't()",
 'do()',
 'do()',
 "don't()",
 "don't()",
 'do()',
 "don't()",
 "don't()",
 'do()',
 "don't()",
 'do()',
 "don't()",
 "don't()",
 'do()',
 'do()']

In [ ]:
importing = open('data/day-3.txt', 'r').read()

list_donts = []

for _ in range(27):
    num_do = importing.find("don't()")
    num_mul = importing[num_do:].find('mul(')
    importing = importing[num_do:][num_mul:]

    list_donts.append((num_do, re.findall(pattern, importing)[0]))

In [ ]:
importing = open('data/day-3.txt', 'r').read()
list_does = []

for _ in range(45):
    num_do = importing.find('do()')
    num_mul = importing[num_do:].find('mul(')
    importing = importing[num_do:][num_mul:]

    list_does.append((num_do,re.findall(pattern, importing)[0]))

In [9]:
list_does

[(297, 'mul(77,345)'),
 (493, 'mul(648,804)'),
 (356, 'mul(873,971)'),
 (131, 'mul(829,831)'),
 (284, 'mul(859,800)'),
 (200, 'mul(247,653)'),
 (591, 'mul(131,588)'),
 (738, 'mul(104,652)'),
 (286, 'mul(34,665)'),
 (12, 'mul(459,928)'),
 (410, 'mul(253,555)'),
 (903, 'mul(151,599)'),
 (43, 'mul(544,71)'),
 (35, 'mul(609,652)'),
 (26, 'mul(335,388)'),
 (892, 'mul(943,870)'),
 (96, 'mul(142,82)'),
 (134, 'mul(953,55)'),
 (224, 'mul(504,419)'),
 (152, 'mul(899,367)'),
 (891, 'mul(20,583)'),
 (507, 'mul(81,716)'),
 (225, 'mul(600,588)'),
 (745, 'mul(810,887)'),
 (25, 'mul(151,714)'),
 (598, 'mul(509,815)'),
 (674, 'mul(851,835)'),
 (189, 'mul(285,496)'),
 (21, 'mul(27,435)'),
 (473, 'mul(60,36)'),
 (113, 'mul(821,96)'),
 (146, 'mul(603,956)'),
 (42, 'mul(103,342)'),
 (453, 'mul(454,304)'),
 (659, 'mul(254,522)'),
 (33, 'mul(193,567)'),
 (367, 'mul(354,115)'),
 (612, 'mul(527,726)'),
 (807, 'mul(203,659)'),
 (88, 'mul(542,872)'),
 (939, 'mul(103,225)'),
 (1080, 'mul(571,144)'),
 (216, 'mul(272,138)'),
 (908, 'mul(53,112)'),
 (21, 'mul(523,469)')]

In [10]:
test_df = pd.DataFrame(list_donts)

for i in range(len(test_df)-1):
    test_df.loc[0, 'indices_start'] = test_df.loc[0,0]
    test_df.loc[i+1, 'indices_start'] = test_df.loc[i, 'indices_start'] + test_df.loc[i+1,0]

test_df = test_df.drop(columns=0).rename(columns={1:'to_multiply'})
test_df['do_or_dont'] = 'N'

In [11]:
test_does = pd.DataFrame(list_does)

for i in range(len(test_does)-1):
    test_does.loc[0, 'indices_start'] = test_does.loc[0,0]
    test_does.loc[i+1, 'indices_start'] = test_does.loc[i, 'indices_start'] + test_does.loc[i+1,0]

test_does = test_does.drop(columns=0).rename(columns={1:'to_multiply'})
test_does['do_or_dont'] = 'Y'

df_does_and_donts = pd.concat([test_df, test_does]).sort_values(by='indices_start')

In [12]:
dff.rename(columns={0:'to_multiply',
                    1:'indices_start'}, inplace=True)

ok = pd.merge(dff, df_does_and_donts, on=['to_multiply','indices_start'], how='outer') #['do_or_dont'].value_counts()
ok = ok.sort_values(by='indices_start')
ok.head(30)

      to_multiply  indices_start do_or_dont
0    mul(445,324)           18.0        NaN
1    mul(430,603)           47.0        NaN
2    mul(991,973)           73.0        NaN
3    mul(320,361)          100.0        NaN
4     mul(39,679)          123.0        NaN
5     mul(73,323)          162.0        NaN
6    mul(133,891)          199.0        NaN
7    mul(996,200)          213.0        NaN
8    mul(668,190)          236.0        NaN
9    mul(537,572)          248.0        NaN
10   mul(455,630)          276.0        NaN
675   mul(77,345)          297.0          Y
11    mul(77,345)          318.0        NaN
12   mul(759,479)          340.0        NaN
13   mul(112,700)          360.0        NaN
14    mul(11,880)          386.0        NaN
15   mul(653,180)          404.0        NaN
16   mul(343,172)          416.0        NaN
17   mul(121,364)          438.0        NaN
18   mul(905,512)          454.0        NaN
19    mul(253,82)          479.0        NaN
20   mul(173,725)          492.0        NaN
21   mul(948,412)          507.0        NaN
676  mul(688,386)          536.0          N
22   mul(688,386)          550.0        NaN
23   mul(798,885)          562.0        NaN
24   mul(139,466)          579.0        NaN
25   mul(337,913)          610.0        NaN
26   mul(299,848)          651.0        NaN
677  mul(562,587)          663.0          N

In [ ]:
# modifying the np.nans so that we know if we have to apply the function multiply

ok.loc[0, 'do_or_dont']='Y'

for i in range(len(ok)-1):
    if pd.isna(ok.loc[i+1,'do_or_dont']):
        if ok.loc[i, 'do_or_dont']=='Y':
            ok.loc[i+1,'do_or_dont']='Y'
        elif ok.loc[i,'do_or_dont']=='N':
            ok.loc[i+1,'do_or_dont']='N'

# equivalent to
# ok['do_or_dont'].fillna("ffill", inplace=True)

In [21]:
ok[ok['do_or_dont']=='Y']

      to_multiply  indices_start do_or_dont
0    mul(445,324)           18.0          Y
1    mul(430,603)           47.0          Y
2    mul(991,973)           73.0          Y
3    mul(320,361)          100.0          Y
4     mul(39,679)          123.0          Y
..            ...            ...        ...
670  mul(309,932)        17870.0          Y
671   mul(93,190)        17889.0          Y
672  mul(202,888)        17928.0          Y
673  mul(591,813)        17954.0          Y
674  mul(652,199)        17979.0          Y

[720 rows x 3 columns]

In [22]:
yes = ok[ok['do_or_dont']=='Y']
yes

      to_multiply  indices_start do_or_dont
0    mul(445,324)           18.0          Y
1    mul(430,603)           47.0          Y
2    mul(991,973)           73.0          Y
3    mul(320,361)          100.0          Y
4     mul(39,679)          123.0          Y
..            ...            ...        ...
670  mul(309,932)        17870.0          Y
671   mul(93,190)        17889.0          Y
672  mul(202,888)        17928.0          Y
673  mul(591,813)        17954.0          Y
674  mul(652,199)        17979.0          Y

[720 rows x 3 columns]

In [23]:
integers_2 = []
for i in range(720):
    n = yes.loc[0, 'to_multiply'].replace('mul','').replace('(','').replace(')','').replace(',', ' ').split()
    integers_2.append((int(n[0]), int(n[1])))

df = pd.DataFrame(integers_2)
result_part_2 = np.sum(df[0]*df[1])
result_part_2

103809600

In [17]:
result_part_1

167650499